QFrame {
    background-color: #2b2d30;
    border-top: 1px solid #3c3c3c;
}


QLabel#green {
    background-color: #48655a;
    color: #eee;
    font-size: 10pt;
    font-family: "Roboto";
}

QLabel#red {
    background-color: #c94f4f;
    color: #eee;
    font-size: 10pt;
    font-family: "Roboto";
}